body {
    margin: 1em auto;
    max-width: 50em;
    padding: 0 2em;
    line-height: 2;
    font-size: 2em;
}
* {
    font-family:  Courier, monospace;
    color: #333333;
    background-color: #d1e3dc;
}

h1, h2, h3 {
    font-family:  sans-serif;
}

img {
    display: block;
    margin: 1em auto;
    padding: 0 1em;
}

